:root {
    font-family: Arial, Helvetica, sans-serif;
    --color-dark: #4a4a4a;
    --color-light: #f5f5f5;
    --color-accent: #1F4591;
}
body {
    margin: 0;
    display: flex;
}
.hero {
    width: 40vw;
    height: 100vh;
    background-image: url(images/hero-cat.jpg);
    background-size: cover;
}
.logo {
    margin-top: 5vh;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 64px;
    color: var(--color-light);
    display: flex;
    justify-content: center;
} 
.logo > img {
    width: 1em;
    height: 1em;
    align-self: center;
}
.logo > h1 {
    margin: 0;
}
.credit {
    position: absolute;
    bottom: 0;
    left: 5px;
    color: var(--color-light);
}
.credit > a {
    text-decoration: none;
    color: var(--color-light)
}
.main {
    width: 65vw;
    height: 100vh;
    margin-left: 2vw;
}
.head {
    width: 45vw;
    margin-top: 10vh;
    color: var(--color-dark);
}
#submit {
    width: 8em;
    height: 2em;
    margin-top: 3vh;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--color-accent);
    color: var(--color-light);
}
div:last-child {
    margin-top: 3vh;
}
.login > a {
    color: var(--color-accent);
}