:root {
    font-family: 'Roboto', sans-serif;
    --primary-dark: #4a4a4a;
    --primary-light: #f8fafc;
    --color-accent:  rgba(71, 85, 105, .5);
}
body {
    margin: 0;
    display: flex;
    gap: 4vw;
}
a {
    text-decoration: none;
    color: var(--color-accent);
}
.hero {
    width: 45vw;
    height: 100vh;
    min-height: 800px;
    padding: 1px;
    background-image: url(images/hero-cat.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.logo {
    margin-top: 10vh;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 42px;
    color: var(--primary-light);
    background-color: var(--color-accent);
    display: flex;
    justify-content: center;
} 
.icon {
    width: 1.5em;
    height: 1.5em;
    align-self: center;
}
.title {
    margin: 0;
}
.credit {
    position: absolute;
    bottom: 0;
    left: 5px;
    font-weight: lighter;
    color: var(--color-accent);
}
.main {
    width: 55vw;
    height: 100vh;
}
.header {
    width: 50vw;
    margin-top: 15vh;
    margin-left: 2vw;
    color: var(--primary-dark);
}
form {
    height: 40vh;
    min-height: 210px;
    width: 63vw;
    margin-left: -4vw;
    box-shadow: 1px 1px 1px 1px #bfbfbf;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
legend {
    margin-top: 2vh;
    margin-left: 6vw;
    width: 100%;
    font-size: 1.5em;
    color: var(--primary-dark);
}
form div {
    width: 20vw;
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label {
    width: max-content;
    color: var(--primary-dark);
    display: grid;
    grid-template-columns: 115px 10px;
}
label > div {
    width: max-content;
    margin: 0;
}
input {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
}
input:focus {
    outline: none;
    border: 2px solid var(--color-accent);
    box-shadow: .5px .5px .5px .5px #bfbfbf;
}
input:not(input[type=password]):valid {
    outline: none;
    border: 2px solid #1cb30e;
    box-shadow: .5px .5px .5px .5px #bfbfbf;
}
input:not(:placeholder-shown):invalid {
    outline: none;
    border: 2px solid #d8042e;
    box-shadow: .5px .5px .5px .5px #bfbfbf;
}
.submitBox {
    display: flex;
    gap: 25px;
    align-items: center;
}
#submit {
    width: 8em;
    height: 2em;
    margin-top: 3vh;
    margin-left: 2vw;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--color-accent);
    color: var(--primary-light);
    font-weight: bolder;
}
#submitError {
    margin-bottom: 10px;
}
.login {
    margin-top: 3vh;
    margin-left: 2vw;
}
.login > a {
    color: var(--primary-dark);
}
.error {
    outline: none;
    border: 2px solid #D2042D;
    box-shadow: .5px .5px .5px .5px #bfbfbf;
}
.message {
    align-self: flex-end;
    font-size: smaller;
    color: #d8042e;
}